{% extends "/parts/layout.html" %} {% block title %}
<title>Diyalog Sanat - Hakkımızda</title>
{% endblock title %}
{% block stylesheets %} {% endblock stylesheets %}
{% block metatags %} {% endblock metatags %}
{% block main %}
{% include "/parts/hero-img.html" %}
<div class="container">
    <div class="about-area">
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12 about-texts">
                <h1>WHO ARE WE</h1>
                <span>Brand</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae minus corrupti voluptatum
                    quibusdam error doloremque, quas eligendi, officiis vero earum nostrum fugit ea modi expedita
                    repudiandae, maxime cum tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                    vel quidem ducimus quae veritatis, provident unde quos! Deleniti id cum sed voluptatem soluta.
                    Adipisci repudiandae sit id, debitis nam molestias? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Neque sit distinctio est nobis aliquid temporibus hic quam, at suscipit quod
                    veritatis ea corrupti vel itaque dolor repudiandae maxime aperiam atque. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Impedit placeat nobis quibusdam velit labore enim explicabo veniam
                    natus ratione sapiente, iure molestiae nam sed obcaecati distinctio dolorum incidunt iste ea.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 mt-5">
                <img src="https://s1.ticketm.net/dam/a/81f/0c303be5-5f9c-4bee-b408-823ff3fb681f_1483361_RETINA_PORTRAIT_16_9.jpg"
                    alt="">
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 about-texts mt-5">
                <h1>WE ARE MISSION</h1>
                <span>Brand</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae minus corrupti voluptatum
                    quibusdam error doloremque, quas eligendi, officiis vero earum nostrum fugit ea modi expedita
                    repudiandae, maxime cum tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                    vel quidem ducimus quae veritatis, provident unde quos! Deleniti id cum sed voluptatem soluta.
                    Adipisci repudiandae sit id, debitis nam molestias? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 about-texts mt-5">
                <h1>WE ARE VISION</h1>
                <span>Brand</span>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta quae minus corrupti voluptatum
                    quibusdam error doloremque, quas eligendi, officiis vero earum nostrum fugit ea modi expedita
                    repudiandae, maxime cum tempora. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus
                    vel quidem ducimus quae veritatis, provident unde quos! Deleniti id cum sed voluptatem soluta.
                    Adipisci repudiandae sit id, debitis nam molestias? Lorem ipsum dolor sit amet consectetur
                    adipisicing elit.
                </p>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 mt-5">
                <img class="about-default-img" src="https://dynamicmedia.livenationinternational.com/Media/g/d/g/a954d354-68e7-4825-b0df-104b13dceb5f.jpg?auto=webp&width=1507.2"
                    alt="">

            </div>
        </div>
    </div>
    <!-- Count Start -->
    <div class="count-area">
        <h1>OUR SKILLS</h1>
        <span>Brand</span>
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6">
                <div class="first-count count-bar">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                Art
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <span>
                                90%
                            </span>
                        </div>
                        <div class="col-md-12">
                            <div class="colored-stroke"></div>
                            <div class="white-stroke"></div>
                        </div>
                    </div>
                </div>
                <div class="second-count count-bar">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                Drama
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <span>
                                70%
                            </span>
                        </div>
                        <div class="col-md-12">
                            <div class="colored-stroke"></div>
                            <div class="white-stroke"></div>
                        </div>
                    </div>
                </div>
                <div class="third-count count-bar">
                    <div class="row">
                        <div class="col-md-8">
                            <h4>
                                Work
                            </h4>
                        </div>
                        <div class="col-md-4">
                            <span>
                                80%
                            </span>
                        </div>
                        <div class="col-md-12">
                            <div class="colored-stroke"></div>
                            <div class="white-stroke"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6">
                <img class="count-image"
                    src="https://3q87le1gsko01ibim33e4wib-wpengine.netdna-ssl.com/wp-content/uploads/2021/09/88_Alegria2019_MALemire-1024x682.jpg"
                    alt="count-img">
            </div>
        </div>
    </div>
    <!-- Count Start -->
    <!-- Team Start -->
    <div class="team-area">
        <h1>OUR TEAM</h1>
        <span class="team-span">Brand</span>
        <div class="row">
            <div class="col-md-4 p-2">
                <div class="person name1">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="person name2">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="person name3">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="person name4">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="person name5">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 p-2">
                <div class="person name6">
                    <div class="person-info">
                        <div class="col-sm-12">
                            <h3>
                                Name Surname
                            </h3>
                        </div>
                        <div class="col-sm-12">
                            <span>
                                Title
                            </span>
                        </div>
                        <div class="col-sm-12">
                            <p>
                                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                            </p>
                        </div>
                        <div class="person-social-media row">
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-facebook-official" aria-hidden="true"></i> /facebook</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-instagram" aria-hidden="true"></i> @instagram</a>
                            </div>
                            <div class="col-sm-4">
                                <a href=""><i class="fa fa-linkedin" aria-hidden="true"></i> linkedin</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
</div>
{% endblock main %}