{% extends "/parts/layout.html" %}
{% block title %}
<title>Diyalog Sanat</title>
{% endblock title %}
{% block stylesheets %}
{% endblock stylesheets %}
{% block metatags %}

{% endblock metatags %}
{% block main %}
{% include "/parts/hero.html" %}
<!-- New Theater Plays Start -->
<div class="front-body w-100">
    <h2>
        New Theater Plays
    </h2>
    <div class="billboard-area">
        <div class="billboard">
            <div class="billboard-box">

            </div>
        </div>
        <div class="billboard">
            <div class="billboard-box">

            </div>
        </div>
        <div class="billboard">
            <div class="billboard-box">

            </div>
        </div>
    </div>
</div>
<!-- New Theater Plays End -->
<!-- About Start -->
<div class="container">
    <div class="row about-area">
        <div class="col-md-6">
            <img class="about-image" src="https://www.egitimpedia.com/uploads/2020/04/20071120__cirque204.jpg"
                alt="about-img">
        </div>
        <div class="col-md-6 about-texts">
            <h1>WHO ARE WE</h1>
            <span>Brand</span>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit quas eaque. Dolorum ab totam quo
                corrupti deserunt commodi ipsa, nihil omnis ut libero, quas doloremque, corporis molestiae beatae. Iure...
            </p>
            <a class="about-button" href="/hakkimizda">Devamını oku...</a>
        </div>
    </div>
</div>
<!-- About End -->
{% endblock main %}
{% block javascripts %}
{% endblock javascripts %}