{% extends "/parts/layout.html" %} {% block title %}
<title>Diyalog Sanat - Oyunlar</title>
{% endblock title %}
{% block stylesheets %} {% endblock stylesheets %}
{% block metatags %} {% endblock metatags %}
{% block main %}
{% include "/parts/hero-img.html" %}

<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="filter-area">
                <h1>Category Filter</h1>
                <ul class="row">
                    <li class="col-md-6">
                        <button class="filter-buttons">
                            <img src="/assets/img/icons/tragicomedy.png" alt="">
                        </button>
                        <h5 class="filter-button-info">ALL</h5>
                    </li>
                    <li class="col-md-6">
                        <button class="filter-buttons blue">
                            <img src="/assets/img/icons/hat.png" alt="">                            
                        </button>
                        <h5 class="filter-button-info">COMEDY</h5>
                    </li>
                </ul>
                <ul class="row">
                    <li class="col-md-6 mt-2">
                        <button class="filter-buttons red">
                            <img src="/assets/img/icons/kendo.png" alt="">
                        </button>
                        <h5 class="filter-button-info">DRAMA</h5>
                    </li>
                    <li class="col-md-6 mt-2">
                        <button class="filter-buttons purple">
                            <img src="/assets/img/icons/melody.png" alt="">
                        </button>
                        <h5 class="filter-button-info">MUSICAL</h5>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="plays-area">
                <h1>OUR PLAYS</h1>
                <span class="plays-span">Brand</span>
                <div class="row">
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Comedy</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Drama</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Musical</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Tragedy</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Comedy</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-lg-4 col-sm-12 p-2">
                        <a class="modal-open" href="javascriptVoid(0)">
                            <div class="play-name">
                                <div class="play-info">
                                    <div class="play-text">
                                        <h3>Title</h3>
                                        <h4>Drama</h4>
                                        <p>
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aut
                                            delectus rem doloribus porro odio et quos assumenda tenetur magnam quia
                                            itaque libero nam nobis, maiores aliquam blanditiis similique ad.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-12">
                        <button class="load-more-button">Load More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock main %}